doctype html
html
	head
		title Sample Email Template
		link(rel='stylesheet', href='../css/email_main.css')
	body
		table.wrapper
			tr
				td.column_2
					p This is a really simple email template. It's sole purpose is to get you to click the button below. Feel free to use, copy, modify this email template as you wish.
				td.column_2
					p Sometimes you just want to send a simple HTML email with a basic design. All the information you need is on GitHub. Thanks, have a lovely day. 