head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
	title Пикник гедониста - выездное ресторанное обслуживание премиум класса
	meta(name="description", content="Пикник гедониста - выездное ресторанное обслуживание премиум класса")
	link(type="image/x-icon", href="favicon.ico", rel="shortcut icon")
	include _styles.jade
	include _scripts_top.jade